html{
    background-color: peachpuff;
    
}
header {
    background-color: beige;
    text-align: center;
}
footer {
    background-color: lightgoldenrodyellow;
}
a {
    color: aqua;
    text-decoration: none;
}
a:hover {
    color: pink;
    text-decoration: wavy;
}
a:visited {
    color: rgb(173, 89, 89);
}

#picture {
    align-items: center;
}