html{
    background-color: peachpuff;
}
footer {
    background-color: lightgoldenrodyellow;
}
a {
    color: aqua;
    text-decoration: none;
}
a:hover {
    color: pink;
    text-decoration: wavy;
}
a:visited {
    color: rgb(173, 89, 89);
}

img {

}