body{
    background-color: darkgrey;
}

footer {
    background-color: #555;
    padding: 20px;
}

footer h6 {
    color: whitesmoke;
    text-align: center;
    vertical-align: top;
}

.nav-bar {
    background-color: #555;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-bar a {
    display: block;
    font-size: 30px;
    text-decoration: none;
    padding: 15px;
    color: whitesmoke;
}

.nav-bar a:hover {
    background-color: #777;
}

a.fa-linkedin-square:hover {
    background-color: #0359af;
}

a.fa-github-square:hover {
    background-color: black;
}

.cover-page {
    display: flex;
}

.picture {
    margin: 15px 0;
}

.name-title {
    font-size: 35px;
    text-align: center;
    margin: auto auto;
}

.arrow {
    text-align: center;
    margin: auto auto auto 0;
}

.arrow a {
    font-size: 55px;
    text-decoration: none;
    color: whitesmoke;
    padding: 25px 15px 20px 200px;
    border-radius: 12px;
    background-color: #000;
    /* box-shadow: 0 0 0 5px #fff; */
    border: 5px solid #fff;
}

.arrow a:hover {
    position: relative; 
    top: -4px;
}